In [1]:
b

In [2]:
car1 = pd.read_csv('./car_year2.csv')

In [3]:
car1

,mileage,mpg,engineSize,price,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,15735,55.4,1.4,12500,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,29946,55.4,1.4,11000,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,1998,49.6,1.0,17300,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
3,32260,58.9,1.4,13900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,76788,61.4,2.0,13250,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57502,65000,48.0,2.0,4995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57503,41850,58.9,2.0,12495,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57504,58000,58.9,2.0,8950,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57505,92640,48.0,2.0,2995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57506,74000,58.9,2.0,5990,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

### 변수
- brand	
- model	
- year	
- price	
- transmission	
- mileage	
- fuelType	
- mpg	
- engineSize

In [4]:
car1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57507 entries, 0 to 57506
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   mileage                 57507 non-null  int64
 1   mpg                     57507 non-null  float64
 2   engineSize              57507 non-null  float64
 3   price                   57507 non-null  int64
 4   brand_bmw               57507 non-null  int64
 5   brand_cclass            57507 non-null  int64
 6   brand_focus             57507 non-null  int64
 7   brand_ford              57507 non-null  int64
 8   brand_hyundi            57507 non-null  int64
 9   brand_merc              57507 non-null  int64
 10  brand_skoda             57507 non-null  int64
 11  brand_toyota            57507 non-null  int64
 12  brand_vauxhall          57507 non-null  int64
 13  brand_vw                57507 non-null  int64
 14  year_1995               57507 non-null  int64
 15  year_1998               57507 non-null  int64
 16  year_2001               57507 non-null  int64
 17  year_2002               57507 non-null  int64
 18  year_2003               57507 non-null  int64
 19  year_2004               57507 non-null  int64
 20  year_2005               57507 non-null  int64
 21  year_2006               57507 non-null  int64
 22  year_2007               57507 non-null  int64
 23  year_2008               57507 non-null  int64
 24  year_2009               57507 non-null  int64
 25  year_2010               57507 non-null  int64
 26  year_2011               57507 non-null  int64
 27  year_2012               57507 non-null  int64
 28  year_2013               57507 non-null  int64
 29  year_2014               57507 non-null  int64
 30  year_2015               57507 non-null  int64
 31  year_2016               57507 non-null  int64
 32  year_2017               57507 non-null  int64
 33  year_2018               57507 non-null  int64
 34  year_2019               57507 non-null  int64
 35  year_2020               57507 non-null  int64
 36  transmission_Manual     57507 non-null  int64
 37  transmission_Other      57507 non-null  int64
 38  transmission_Semi-Auto  57507 non-null  int64
 39  fuelType_Hybrid         57507 non-null  int64
 40  fuelType_Other          57507 non-null  int64
 41  fuelType_Petrol         57507 non-null  int64
dtypes: float64(2), int64(40)
memory usage: 18.4 MB

In [5]:
car1

,mileage,mpg,engineSize,price,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,15735,55.4,1.4,12500,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,29946,55.4,1.4,11000,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,1998,49.6,1.0,17300,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
3,32260,58.9,1.4,13900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,76788,61.4,2.0,13250,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57502,65000,48.0,2.0,4995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57503,41850,58.9,2.0,12495,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57504,58000,58.9,2.0,8950,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57505,92640,48.0,2.0,2995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57506,74000,58.9,2.0,5990,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

### train/test 셋 분리

In [6]:
x = car1.drop("price", axis = 1)
y = car1["price"]

In [7]:
# 기본값은 75 : 25 비율
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size = 0.70, random_state=1)

In [8]:
x_train.shape, y_train.shape

((40254, 41), (40254,))

In [9]:
x_test.shape, y_test.shape

((17253, 41), (17253,))

### 경사부스팅

In [10]:
y_prime = y_train

y_prime

15355    10498
19950    12998
26420    16995
49040    20995
8301     27995
         ...
50057     9992
32511    20999
5192     19998
12172    24299
33003    29755
Name: price, Length: 40254, dtype: int64

In [11]:
y_test_prime = y_test

y_test_prime

52139    20689
31457    21967
13534    16600
852      17990
19423    11798
         ...
5886     26480
13662     3690
27278    10800
36375     6934
9232     15795
Name: price, Length: 17253, dtype: int64

In [12]:
param_grid ={  }

In [13]:
param_grid

{}

In [14]:
grid_search = GridSearchCV(GradientBoostingRegressor(loss= 'huber'),
                           param_grid, cv=3, return_train_score=True)

In [15]:
grid_search.fit(x_train, y_prime)

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={}, return_train_score=True)

In [16]:
y_pred = grid_search.predict(x_test) #예축값 
y_pred

array([19915.88924217, 17478.47365837, 20011.45367402, ...,
       12520.92678305,  8295.3528005 , 18888.59408693])

In [17]:
print('훈련 세트의 정확도 : {:.4f} '. format(grid_search.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '. format(grid_search.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.8593
테스트 세트의 정확도 : 0.8560

In [18]:
mae_pred =  mean_absolute_error(y_test_prime, grid_search.predict(x_test))

print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1977.9316

In [19]:
# -------------------------------------

## 하이퍼 파라미터 튜닝

### n_estimators 조절

In [20]:
n_estimators = [100, 500, 1000] # weak learner의 개수. 개수가 많을수록 일정 수준까지는 좋아지지만 수행 시간이 오래 걸림
#learning_rate = [0.1, 0.5, 1] # (0.1)GBM이 학습을 진행할 때마다 적용하는 학습률. 0~1. 
#max_depth = [1, 2, 3, 4] # (3)트리의 최대 깊이. 깊이가 깊어지면 과적합이 될 수 있으므로 적절히 제어 필요.
#min_samples_leaf = [5, 10, 15] # (1)리프노드가 되기 위한 최소한의 샘플 데이터 수. 불균형 데이터의 경우 특정 클래스 데이터가 극도로 덕을 수 있으므로 작은 값으로 설정이 필요
#min_samples_split = [2, 5, 10] # (2)노드를 분할하기 위한 최소한의 샘플 데이터 수.

# max_features
# max_leaf_nodes
# loss
# subsample

# https://sevillabk.github.io/Boosting/ 

param_grid = {'n_estimators' : n_estimators}
              #'learning_rate' : learning_rate,
              #'max_depth' : max_depth,
              #'min_samples_leaf' : min_samples_leaf,
              #'min_samples_split' : min_samples_split}

In [21]:
gb = GridSearchCV(GradientBoostingRegressor(loss= 'huber'), #gridSearchcv 최적의 파라미터를 찾는 함수 
                  param_grid, cv=3, return_train_score=True)

In [22]:
param_grid

{'n_estimators': [100, 500, 1000]}

In [23]:
gb.fit(x_train, y_prime)

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={'n_estimators': [100, 500, 1000]},
             return_train_score=True)

In [24]:
print('최적 하이퍼 파라미터: ', gb.best_params_)

최적 하이퍼 파라미터:  {'n_estimators': 1000}

In [25]:
print('훈련 세트의 정확도 : {:.4f} '. format(gb.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '.format(gb.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.9173
테스트 세트의 정확도 : 0.9137

In [26]:
# MAE : 평균오차절대값
mae_pred =  mean_absolute_error(y_test_prime, gb.predict(x_test))
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1450.1396

### learning_rate 조절

In [27]:
n_estimators = [1000] # weak learner의 개수. 개수가 많을수록 일정 수준까지는 좋아지지만 수행 시간이 오래 걸림
learning_rate = [0.1, 0.5, 1] # (0.1)GBM이 학습을 진행할 때마다 적용하는 학습률. 0~1. 
#max_depth = [1, 2, 3, 4] # (3)트리의 최대 깊이. 깊이가 깊어지면 과적합이 될 수 있으므로 적절히 제어 필요.
#min_samples_leaf = [5, 10, 15] # (1)리프노드가 되기 위한 최소한의 샘플 데이터 수. 불균형 데이터의 경우 특정 클래스 데이터가 극도로 덕을 수 있으므로 작은 값으로 설정이 필요
#min_samples_split = [2, 5, 10] # (2)노드를 분할하기 위한 최소한의 샘플 데이터 수.

# max_features
# max_leaf_nodes
# loss
# subsample

# https://sevillabk.github.io/Boosting/ 

param_grid = {'n_estimators' : n_estimators,
              'learning_rate' : learning_rate}
              #'max_depth' : max_depth,
              #'min_samples_leaf' : min_samples_leaf,
              #'min_samples_split' : min_samples_split}

In [28]:
param_grid

{'n_estimators': [1000], 'learning_rate': [0.1, 0.5, 1]}

In [29]:
gb_2 = GridSearchCV(GradientBoostingRegressor(loss= 'huber'),
                  param_grid, cv=3, return_train_score=True)

In [30]:
gb_2.fit(x_train, y_prime)

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={'learning_rate': [0.1, 0.5, 1],
                         'n_estimators': [1000]},
             return_train_score=True)

In [31]:
print('최적 하이퍼 파라미터: ', gb_2.best_params_)

최적 하이퍼 파라미터:  {'learning_rate': 0.5, 'n_estimators': 1000}

In [65]:
print('훈련 세트의 정확도 : {:.4f} '. format(gb_2.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '.  format(gb_2.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.9440
테스트 세트의 정확도 : 0.9253

In [66]:
# MAE : 평균오차절대값

mae_pred =  mean_absolute_error(y_test_prime, gb_2.predict(x_test))
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1357.5513

### max_depth 조절

In [35]:
n_estimators = [1000] # weak learner의 개수. 개수가 많을수록 일정 수준까지는 좋아지지만 수행 시간이 오래 걸림
learning_rate = [0.5] # (0.1)GBM이 학습을 진행할 때마다 적용하는 학습률. 0~1. 
max_depth = [1, 2, 3, 4] # (3)트리의 최대 깊이. 깊이가 깊어지면 과적합이 될 수 있으므로 적절히 제어 필요.
#min_samples_leaf = [5, 10, 15] # (1)리프노드가 되기 위한 최소한의 샘플 데이터 수. 불균형 데이터의 경우 특정 클래스 데이터가 극도로 덕을 수 있으므로 작은 값으로 설정이 필요
#min_samples_split = [2, 5, 10] # (2)노드를 분할하기 위한 최소한의 샘플 데이터 수.

# max_features
# max_leaf_nodes
# loss
# subsample

# https://sevillabk.github.io/Boosting/ 

param_grid = {'n_estimators' : n_estimators,
              'learning_rate' : learning_rate,
              'max_depth' : max_depth}
              #'min_samples_leaf' : min_samples_leaf,
              #'min_samples_split' : min_samples_split}

In [36]:
param_grid

{'n_estimators': [1000], 'learning_rate': [0.5], 'max_depth': [1, 2, 3, 4]}

In [37]:
gb_3 = GridSearchCV(GradientBoostingRegressor(loss= 'huber'),
                  param_grid, cv=3, return_train_score=True)

In [38]:
gb_3.fit(x_train, y_prime)

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={'learning_rate': [0.5], 'max_depth': [1, 2, 3, 4],
                         'n_estimators': [1000]},
             return_train_score=True)

In [39]:
print('최적 하이퍼 파라미터: ', gb_3.best_params_)

최적 하이퍼 파라미터:  {'learning_rate': 0.5, 'max_depth': 4, 'n_estimators': 1000}

In [40]:
print('훈련 세트의 정확도 : {:.4f} '. format(gb_3.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '.  format(gb_3.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.9603
테스트 세트의 정확도 : 0.9253

In [41]:
# MAE : 평균오차절대값
mae_pred =  mean_absolute_error(y_test_prime, gb_3.predict(x_test))
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1340.4182

### min_samples_leaf 조절

In [67]:
n_estimators = [1000] # weak learner의 개수. 개수가 많을수록 일정 수준까지는 좋아지지만 수행 시간이 오래 걸림
learning_rate = [0.5] # (0.1)GBM이 학습을 진행할 때마다 적용하는 학습률. 0~1. 
max_depth = [4] # (3)트리의 최대 깊이. 깊이가 깊어지면 과적합이 될 수 있으므로 적절히 제어 필요.
min_samples_leaf = [5, 10, 15] # (1)리프노드가 되기 위한 최소한의 샘플 데이터 수. 불균형 데이터의 경우 특정 클래스 데이터가 극도로 덕을 수 있으므로 작은 값으로 설정이 필요
#min_samples_split = [2, 5, 10] # (2)노드를 분할하기 위한 최소한의 샘플 데이터 수.

# max_features
# max_leaf_nodes
# loss
# subsample

# https://sevillabk.github.io/Boosting/ 

param_grid = {'n_estimators' : n_estimators,
              'learning_rate' : learning_rate,
              'max_depth' : max_depth,
              'min_samples_leaf' : min_samples_leaf}
              #'min_samples_split' : min_samples_split}

In [69]:
param_grid

{'n_estimators': [1000],
 'learning_rate': [0.5],
 'max_depth': [4],
 'min_samples_leaf': [5, 10, 15]}

In [70]:
gb_4 = GridSearchCV(GradientBoostingRegressor(loss= 'huber'),
                  param_grid, cv=3, return_train_score=True)

In [71]:
gb_4.fit(x_train, y_prime)

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={'learning_rate': [0.5], 'max_depth': [4],
                         'min_samples_leaf': [5, 10, 15],
                         'n_estimators': [1000]},
             return_train_score=True)

In [72]:
print('최적 하이퍼 파라미터: ', gb_4.best_params_)

최적 하이퍼 파라미터:  {'learning_rate': 0.5, 'max_depth': 4, 'min_samples_leaf': 15, 'n_estimators': 1000}

In [73]:
print('훈련 세트의 정확도 : {:.4f} '. format(gb_4.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '. format(gb_4.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.9501
테스트 세트의 정확도 : 0.9294

In [74]:
# MAE : 평균오차절대값

mae_pred =  mean_absolute_error(y_test_prime, gb_4.predict(x_test))
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1307.5158

### min_samples_split 조절

In [75]:
n_estimators = [1000] # weak learner의 개수. 개수가 많을수록 일정 수준까지는 좋아지지만 수행 시간이 오래 걸림
learning_rate = [0.5] # (0.1)GBM이 학습을 진행할 때마다 적용하는 학습률. 0~1. 
max_depth = [4] # (3)트리의 최대 깊이. 깊이가 깊어지면 과적합이 될 수 있으므로 적절히 제어 필요.
min_samples_leaf = [5] # (1)리프노드가 되기 위한 최소한의 샘플 데이터 수. 불균형 데이터의 경우 특정 클래스 데이터가 극도로 덕을 수 있으므로 작은 값으로 설정이 필요
min_samples_split = [2, 5, 10] # (2)노드를 분할하기 위한 최소한의 샘플 데이터 수.

# max_features
# max_leaf_nodes
# loss
# subsample

# https://sevillabk.github.io/Boosting/ 

param_grid = {'n_estimators' : n_estimators,
              'learning_rate' : learning_rate,
              'max_depth' : max_depth,
              'min_samples_leaf' : min_samples_leaf,
              'min_samples_split' : min_samples_split}

In [76]:
param_grid

{'n_estimators': [1000],
 'learning_rate': [0.5],
 'max_depth': [4],
 'min_samples_leaf': [5],
 'min_samples_split': [2, 5, 10]}

In [77]:
gb_5 = GridSearchCV(GradientBoostingRegressor(loss= 'huber'),
                  param_grid, cv=3, return_train_score=True)

In [78]:
gb_5.fit(x_train, y_prime)

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={'learning_rate': [0.5], 'max_depth': [4],
                         'min_samples_leaf': [5],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [1000]},
             return_train_score=True)

In [79]:
print('최적 하이퍼 파라미터: ', gb_5.best_params_)

최적 하이퍼 파라미터:  {'learning_rate': 0.5, 'max_depth': 4, 'min_samples_leaf': 5, 'min_samples_split': 5, 'n_estimators': 1000}

In [80]:
print('훈련 세트의 정확도 : {:.4f} '. format(gb_5.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '. format(gb_5.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.9545
테스트 세트의 정확도 : 0.9281

In [81]:
# MAE : 평균오차절대값
mae_pred =  mean_absolute_error(y_test_prime, gb_5.predict(x_test))
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1326.1928

### 최종 파라미터

In [14]:
n_estimators = [1000] # weak learner의 개수. 개수가 많을수록 일정 수준까지는 좋아지지만 수행 시간이 오래 걸림
learning_rate = [0.5] # (0.1)GBM이 학습을 진행할 때마다 적용하는 학습률. 0~1. 
max_depth = [4] # (3)트리의 최대 깊이. 깊이가 깊어지면 과적합이 될 수 있으므로 적절히 제어 필요.
min_samples_leaf = [5] # (1)리프노드가 되기 위한 최소한의 샘플 데이터 수. 불균형 데이터의 경우 특정 클래스 데이터가 극도로 덕을 수 있으므로 작은 값으로 설정이 필요
min_samples_split = [10] # (2)노드를 분할하기 위한 최소한의 샘플 데이터 수.

# max_features
# max_leaf_nodes
# loss
# subsample

# https://sevillabk.github.io/Boosting/ 

param_grid = {'n_estimators' : n_estimators,
              'learning_rate' : learning_rate,
              'max_depth' : max_depth,
              'min_samples_leaf' : min_samples_leaf,
              'min_samples_split' : min_samples_split}

In [15]:
param_grid

{'n_estimators': [1000],
 'learning_rate': [0.5],
 'max_depth': [4],
 'min_samples_leaf': [5],
 'min_samples_split': [10]}

In [16]:
gb_6 = GridSearchCV(GradientBoostingRegressor(loss= 'huber'),
                  param_grid, cv=3, return_train_score=True)

In [17]:
gb_6.fit(x_train, y_prime)

KeyboardInterrupt:

In [15]:
print('최적 하이퍼 파라미터: ', gb_6.best_params_)

최적 하이퍼 파라미터:  {'learning_rate': 0.5, 'max_depth': 4, 'min_samples_leaf': 5, 'min_samples_split': 10, 'n_estimators': 1000}

In [16]:
print('훈련 세트의 정확도 : {:.4f} '. format(gb_6.score(x_train, y_prime)))
print('테스트 세트의 정확도 : {:.4f} '. format(gb_6.score(x_test, y_test_prime)))

훈련 세트의 정확도 : 0.9545
테스트 세트의 정확도 : 0.9280

In [17]:
# MAE : 평균오차절대값
mae_pred =  mean_absolute_error(y_test_prime, gb_6.predict(x_test))
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 1326.4768

# 저장

In [18]:
import joblib

joblib.__version__

'1.1.0'

In [20]:
joblib.dump( gb_6, 'gb_6.model' )

['gb_6.model']

# pickle

In [20]:
import pickle

In [22]:
with open('gb_6.pickle','wb') as f:
    pickle.dump(gb_6, f)

In [21]:
with open('gb_6.pickle', 'rb') as f: 
    model = pickle.load(f)

In [22]:
model

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(loss='huber'),
             param_grid={'learning_rate': [0.5], 'max_depth': [4],
                         'min_samples_leaf': [5], 'min_samples_split': [10],
                         'n_estimators': [1000]},
             return_train_score=True)

현대, 2017년, 휘발유 
아우디, 2014년, 휘발유
이거 두 개로 예측한 가격 좀 뽑아 줄 수 잇어?

In [24]:
car1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57507 entries, 0 to 57506
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   mileage                 57507 non-null  int64
 1   mpg                     57507 non-null  float64
 2   engineSize              57507 non-null  float64
 3   price                   57507 non-null  int64
 4   brand_bmw               57507 non-null  int64
 5   brand_cclass            57507 non-null  int64
 6   brand_focus             57507 non-null  int64
 7   brand_ford              57507 non-null  int64
 8   brand_hyundi            57507 non-null  int64
 9   brand_merc              57507 non-null  int64
 10  brand_skoda             57507 non-null  int64
 11  brand_toyota            57507 non-null  int64
 12  brand_vauxhall          57507 non-null  int64
 13  brand_vw                57507 non-null  int64
 14  year_1995               57507 non-null  int64
 15  year_1998               57507 non-null  int64
 16  year_2001               57507 non-null  int64
 17  year_2002               57507 non-null  int64
 18  year_2003               57507 non-null  int64
 19  year_2004               57507 non-null  int64
 20  year_2005               57507 non-null  int64
 21  year_2006               57507 non-null  int64
 22  year_2007               57507 non-null  int64
 23  year_2008               57507 non-null  int64
 24  year_2009               57507 non-null  int64
 25  year_2010               57507 non-null  int64
 26  year_2011               57507 non-null  int64
 27  year_2012               57507 non-null  int64
 28  year_2013               57507 non-null  int64
 29  year_2014               57507 non-null  int64
 30  year_2015               57507 non-null  int64
 31  year_2016               57507 non-null  int64
 32  year_2017               57507 non-null  int64
 33  year_2018               57507 non-null  int64
 34  year_2019               57507 non-null  int64
 35  year_2020               57507 non-null  int64
 36  transmission_Manual     57507 non-null  int64
 37  transmission_Other      57507 non-null  int64
 38  transmission_Semi-Auto  57507 non-null  int64
 39  fuelType_Hybrid         57507 non-null  int64
 40  fuelType_Other          57507 non-null  int64
 41  fuelType_Petrol         57507 non-null  int64
dtypes: float64(2), int64(40)
memory usage: 18.4 MB

In [51]:
car2 = car1.loc[car1['brand_hyundi'] == 1]
car2

,mileage,mpg,engineSize,price,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
28777,17307,58.9,1.2,7999,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28778,23789,60.1,1.0,6499,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
28779,33177,51.4,2.0,10199,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
28780,41650,60.1,1.0,6149,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
28781,39547,55.4,1.2,6799,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31133,17879,60.1,1.0,7200,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
31134,8851,60.1,1.0,7995,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
31135,14788,60.1,1.0,7200,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
31136,13810,60.1,1.0,6830,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31137,11472,57.6,1.7,15999,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
car3 = car2.loc[car2['year_2017'] == 1]
car3

,mileage,mpg,engineSize,price,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
28777,17307,58.9,1.2,7999,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28784,20000,56.5,1.0,10000,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28786,18626,57.6,1.7,14600,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
28800,21821,61.4,0.0,10000,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28809,15618,60.1,1.0,7600,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31115,12607,60.1,1.0,6500,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31118,5480,60.1,1.0,7698,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31127,42858,47.9,2.0,14985,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
31128,38192,54.3,2.0,14985,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
31136,13810,60.1,1.0,6830,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [53]:
car4 = car3.loc[car3['fuelType_Petrol'] == 1]
car4

,mileage,mpg,engineSize,price,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
28777,17307,58.9,1.2,7999,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28784,20000,56.5,1.0,10000,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28800,21821,61.4,0.0,10000,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28809,15618,60.1,1.0,7600,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
28810,15594,60.1,0.0,7300,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31113,17095,60.1,1.0,6795,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31114,19375,60.1,1.0,6200,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31115,12607,60.1,1.0,6500,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31118,5480,60.1,1.0,7698,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31136,13810,60.1,1.0,6830,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [104]:
#print(df.loc[0])
car5 = car4.loc[[31136, 31118]]

In [105]:
car5

,mileage,mpg,engineSize,price,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
31136,13810,60.1,1.0,6830,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
31118,5480,60.1,1.0,7698,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [106]:
x = car5.drop("price", axis =1)
y = car5["price"]

In [107]:
x

,mileage,mpg,engineSize,brand_bmw,brand_cclass,brand_focus,brand_ford,brand_hyundi,brand_merc,brand_skoda,...,year_2017,year_2018,year_2019,year_2020,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
31136,13810,60.1,1.0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
31118,5480,60.1,1.0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1

In [108]:
y

31136    6830
31118    7698
Name: price, dtype: int64

In [109]:
y_pred = model.predict(x) #예축값 
y_pred

array([7141.19928176, 6497.5612902 ])

In [110]:
print('테스트 세트의 정확도 : {:.4f} '. format(model.score(x, y)))

테스트 세트의 정확도 : -3.0824

In [111]:
# MAE : 평균오차절대값
mae_pred =  mean_absolute_error(y, y_pred)
print('경사부스팅의 오차: {:.4f}'.format(mae_pred))

경사부스팅의 오차: 755.8190

# k-겹

In [9]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingRegressor

x = car1.drop("price", axis = 1)
y = car1['price']

gb_6 = GradientBoostingRegressor( learning_rate = 0.5, max_depth= 4, min_samples_leaf= 5, min_samples_split = 10, n_estimators = 1000)

cv10_scores = cross_val_score(gb_6, x, y, cv = 15)

print('5-겹 교차 검증 평균 점수 : {:.2f} '.format(cv10_scores.mean()))

5-겹 교차 검증 평균 점수 : 0.78

### LGBM

In [64]:
import lightgbm as lgb
from lightgbm import LGBMRegressor

ModuleNotFoundError: No module named 'lightgbm'

In [ ]:
clf = lgb.LGBMRegressor(num_leaves=31,
                        learning_rate=0.05,
                        n_estimators=20)
clf

In [ ]:
#clf.fit(X_train, y_train, early_stopping_rounds = 1000)
clf.fit(x_train, y_train,
        eval_set=[(x_test, y_test)],
        eval_metric='l2',
        early_stopping_rounds = 100)

In [ ]:
y_pred = clf.predict(x_test, num_iteration=clf.best_iteration_)

In [ ]:
y_pred

In [ ]:
print('훈련 세트의 정확도 : {:.4f} '. format(clf.score(x_test, y_test)))
print('테스트 세트의 정확도 : {:.4f} '. format(r2_score(y_test, clf.predict(x_test))))

In [ ]:
print('The rmse of prediction is:', mean_absolute_error(y_test, y_pred))